.container {
    width: 100%;
    max-width: 2500px;
    margin: 0 auto;
    padding: 0;
    position: relative;
 
    &:before {
        display: none;
    }

    &:after {
        display: none;
    }
}

.wrapper {
    padding: 0;
    width: 100%;
}
