@include parallax-init;

main {
    display: flex;
    flex-direction: column;
    position: relative;
    
    .transition {
        position: relative;
        @include parallax(-.5);

        &:before {
            content: '';
            background: $brand-yellow;
            width: 100%;
            height: 300px;
            position: absolute;
            left: 0;
            bottom: -200px;
            transform: skewY(6deg);
        }

        &:after {
            content: '';
            background: $brand-yellow;
            width: 100%;
            height: 300px;
            position: absolute;
            left: 0;
            bottom: -200px;
            transform: skewY(6deg);
        }
    }

    .transition-alternate {
        position: relative;
        &:before {
            content: '';
            background: rgba(255,255,255,0.7);
            width: 100%;
            height: 300px;
            position: absolute;
            left: 0;
            bottom: -200px;
            transform: skewY(-6deg);
        }

        &:after {
            content: '';
            background: rgba(255,255,255,0.7);
            width: 100%;
            height: 300px;
            position: absolute;
            left: 0;
            bottom: -200px;
            transform: skewY(-6deg);
        }
    }
    
    
    section {
        @extend %col-xs-offset-1;
        padding-right: 8.33333%;
        
        
        &:nth-of-type(2) {
            @extend %col-sm-offset-4;
        }
        
        &:nth-of-type(3) {
            .background {
                @extend %col-sm-9;
            }
            
            h1 {
                @include parallax(-.1, 1);
                color: teal;
            }
        }
        
        h1 {
            font-size: 10em;
            font-weight: 700;
            margin: 0;
        }
            
        p {
            line-height: 1.5;
            padding-top: 2em;
            margin: 0;
            @extend %col-xs-12;
            @extend %col-sm-9;
            @extend %col-sm-offset-4;
        
            &:nth-of-type(2) {
                @extend %col-sm-12;
                @extend %col-sm-offset-9;
            }
        }
    }    
}

