//@include parallax-init;

main {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #f9f9f9;
    
    .transition {
        position: relative;
        @include parallax(-.5);

        &:before {
            content: '';
            background: $brand-yellow;
            width: 100%;
            height: 300px;
            position: absolute;
            left: 0;
            bottom: -200px;
            transform: skewY(6deg);
        }

        &:after {
            content: '';
            background: $brand-yellow;
            width: 100%;
            height: 300px;
            position: absolute;
            left: 0;
            bottom: -200px;
            transform: skewY(6deg);
        }
    }

    .transition-alternate {
        position: relative;
        &:before {
            content: '';
            background: rgba(255,255,255,0.7);
            width: 100%;
            height: 300px;
            position: absolute;
            left: 0;
            bottom: -200px;
            transform: skewY(-6deg);
        }

        &:after {
            content: '';
            background: rgba(255,255,255,0.7);
            width: 100%;
            height: 300px;
            position: absolute;
            left: 0;
            bottom: -200px;
            transform: skewY(-6deg);
        }
    }
      
}

